{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block body %}
  <section style="background-image:{{ apartment.image.image }}" id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>ABOUT </h2>
            <ol class="breadcrumb">
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-properties-content">            
            <!-- Start properties content body -->
            <div class="aa-properties-details">
                <div class="aa-properties-info">
                <h1>Flat Haunting in Ahmedabad</h1>
                <p>Greetings! I would like to share my experience with flat hunting in Ahmedabad. As an IT professional, I believed finding a suitable place to reside in would be an easy task. However, it proved to be quite the opposite.</p>
                <p>After searching for weeks, I finally resorted to staying in a PG, as finding an appropriate flat was proving to be a challenge. Eventually, I discovered a pre-occupied flat that I found to be ideal. However, my joy was short-lived, as I was informed that the building was to undergo redevelopment, and I had to relocate.</p>
                <p>The search for a new pre-occupied flat proved to be an arduous task, as every location I visited demanded a brokerage fee. Even those that claimed to be broker-free were nothing more than cleverly disguised brokers.</p>
                <p>It was at this point that I had an idea. As an IT professional, I set out to develop a hassle-free and completely broker-free platform. This platform would provide individuals with a seamless solution to their flat hunting needs, without the burden of brokerage fees.</p><br><br>
                <p><b>You can reach out to me at:</b> flatm4te@gmail.com</p>
                </div>
            </div>           
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock body %}