{% extends 'base.html' %}
{% block title %}Add your flat{% endblock title %}

{% block body %}
<section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-properties-content">            
            <!-- Start properties content body -->
            <div class="aa-properties-details">
             <div id="prop-form" class="aa-properties-info">
                <div id="csrf-token">{% csrf_token %}</div>
                    <h1>Flat Details</h1>

                    <label for="contact_name">Contact Name:</label>
                    <input type="text" placeholder="Ankur Kumar" id="contact_name" name="contact_name" required>
                    
                    
                    
                    <label for="location">Flat type:</label>
                    <input type="text" placeholder="4 BHK" id="flat_name" name="flat_name" required>

                    <div id="gender-div" style="margin-top:9px; margin-bottom: 10px;">
                      <label for="gender">For:</label><br>

                      <input type="radio" id="female" name="gender" value="1">
                      <label for="gender">Female</label><br>

                      <input type="radio" id="male" name="gender" value="2">
                      <label for="gender">Male</label><br>
                    </div>

                    <label for="location">Location:</label>
                    <input type="text" placeholder="Bodakdev" id="location" name="location" required>

                    <label for="rent">Rent per head:</label>
                    <input type="text" placeholder="5000" id="rent" name="rent" required>

                    <div id="checkbox-div" style="margin-top:9px; margin-bottom: 10px;">
                      <label for="furnishing">Select furnishing:</label><br>

                      <input type="radio" id="furnishing" name="furnishing" value="3">
                      <label for="furnishing">unfurnished</label><br>

                      <input type="radio" id="semi-furnishing" name="furnishing" value="2">
                      <label for="furnishing">Semi-furnished</label><br>

                      <input type="radio" id="fully-furnishing" name="furnishing" value="1">
                      <label for="furnishing">Fully-furnished</label><br>
                    </div>

                    <label for="amenities">Amenities:</label>
                    <input type="text" placeholder="AC, RO..." id="amenities" name="amenities" required>
                    
                    <label for="describe">Describe(Optional):</label>
                    <textarea id="describe" placeholder="We are 3 chilled mates, looking for 4th..."  name="describe"></textarea>

                    <label for="flat_pics">Flat Pictures:</label>
                    <input type="file" class="flat_pics" id="flat_pics" name="flat_pics" accept="image/*" multiple required>

                    <div>
                      <label for="contact_name">Contact Number:</label>
                      <input type="text" placeholder="9876543210" id="contact_no" name="contact_no" required>
                      
                      <input style="width:20%" id="otp-btn" onclick="sendOtp()" type="submit" value="Request OTP">

                      <div style="width:20%; display:none; margin-top:10px" id="success-otp" class="alert alert-success" role="alert">
                        OTP sent successfully!
                      </div>
                      
                      <div style="width:20%; display:none; margin-top:10px" id="failed-otp" class="alert alert-danger" role="alert">
                        Please try again!
                      </div>
                    </div>

                    <label for="otp">OTP:</label>
                    <input type="text" id="otp" name="otp" required>

                    <input id="submit-btn" onclick="submitform()" type="submit" value="Submit">
                    
                    <div id="please-wait" style="z-index:1000000;margin-top:10px; display: none;" class="alert alert-info" role="alert">
                      <b>Please wait, m4te</b>
                    </div>

                    <div id="error-message" style="margin-top: 10px; display: none;" class="alert alert-warning" role="alert">
                      Please try again!
                    </div>
             </div>
            </div>           
          </div>
        </div>
        <!-- Start properties sidebar -->
        
      </div>
    </div>
  </section>
    <script>
        function sendOtp(){
          var contact_no = document.getElementById("contact_no").value
          const csrfTokenParentEle = document.getElementById('csrf-token').children;

          const csrfToken = csrfTokenParentEle[0].value 
          
          const formData = new FormData();
          formData.append('contact_no', contact_no.toString());

          
          $.ajax({
            type: "POST",
            url: "/sendotp/",
            headers: {
             'X-CSRFToken': csrfToken // Include the CSRF token in the request headers
           },
             data: formData,
             contentType: false,
             processData: false,
            
            success: function(data){
             console.log(data['message'])
               if (data['message']=='Success'){
                document.getElementById("success-otp").style.display = "block"
               }
               else{
                 document.getElementById("failed-otp").style.display = "block"
               }
               setTimeout(function(){
                  $('#success-otp').hide()
                  $('#failed-otp').hide()

              }, 3000)
            }
          })
          
        }

        function submitform(){
          var submit_btn = document.getElementById("submit-btn")
          submit_btn.style.opacity = 0.2
          document.getElementById("submit-btn").disabled = true
          document.getElementById("please-wait").style.display = "block"
          document.getElementById("please-wait").style.opacity = 1

            console.log("disable")

            var flat_name = document.getElementById("flat_name").value
            var location = document.getElementById("location").value
            var amenities = document.getElementById("amenities").value
            var contact_name = document.getElementById("contact_name").value
            var contact_no = document.getElementById("contact_no").value
            var rent = document.getElementById("rent").value
            var desc = document.getElementById("describe").value
            var otp = document.getElementById("otp").value


            if (desc.length == 0){
              desc = "We are chill people to stay with (:"
            }

            // var furnishing = document.getElementById("furnishing").value

            var furn = $("input[type='radio'][name='furnishing']:checked").val();
            var gender = $("input[type='radio'][name='gender']:checked").val();


            console.log(furn)
           


            const imageList = document.querySelectorAll('#flat_pics')
            // let image = imageList.files[0]
            


            const formData = new FormData();

            // formData.append('flat_pics', image)
            
            var imageListData = []
            for (let i = 0; i < imageList[0].files.length; i++) {
                // console.log(imageList)
                let image = imageList[0].files[i]
                var timestamp = new Date().getTime();
                let uniqueFileName = timestamp + '-' + image.name;
                imageListData.push(image)
                formData.append('flat_pics', image, uniqueFileName);
              }

            const csrfTokenParentEle = document.getElementById('csrf-token').children;

            const csrfToken = csrfTokenParentEle[0].value   

            // formData.append('flat_pics', imageListData);
            formData.append('flat_name', flat_name.toString());
            formData.append('location', location.toString());
            formData.append('amenities', amenities.toString());
            formData.append('contact_name', contact_name.toString());
            formData.append('contact_no', contact_no.toString());
            formData.append('rent', rent.toString());
            formData.append('furnishing', furn.toString());
            formData.append('desc', desc.toString());
            formData.append('gender', gender.toString());
            formData.append('otp', otp.toString());


         
            $.ajax({
               type: "POST",
               url: "/submitprop/",
               headers: {
                'X-CSRFToken': csrfToken // Include the CSRF token in the request headers
              },
                data: formData,
                contentType: false,
                processData: false,
               
            //    processData: false,
            //    contentType: false,
               success: function(data){
                console.log(data['message'])
                  if (data['message']=='Success'){
                    document.getElementById("prop-form").style.opacity = 1
                    document.getElementById("please-wait").innerText = "Successfully added the flat"

                    window.location.href = "/";
                  }
                  else{
                    document.getElementById("error-message").style.display = "block"
                    document.getElementById("error-message").innerText = data['message']

                  }
                  setTimeout(function(){
                     $('#error-message').hide()

                 }, 3000)
               }
             })
            }


      </script>
  {% endblock body %}


