{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block body %}
  <section style="background-image:{{ apartment.image.image }}" id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>DONATE </h2>
            <ol class="breadcrumb">
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-properties-content">            
            <!-- Start properties content body -->
            <div class="aa-properties-details">
                <div class="aa-properties-info">
                <h1>Donate to Support the Platform</h1>
                <p>If you've found this platform helpful in any way and would like to support its maintenance and improvement, you can make a donation. </p>
                <p>Your contributions will go towards keeping the website running and further enhancing the user experience.</p>

                <p>To donate, you can use the following payment methods:</p>
                <p>Google Pay: 8856911982</p>
                <p>UPI ID: 8856911982@upi</p><br><br>
                </div>
            </div>           
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock body %}