{% extends 'base.html' %}

{% block body %}
  <section style="background-image:{{ apartment.image.image }}" id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Properties Details</h2>
            <ol class="breadcrumb">
            <li><a href="/">HOME</a></li>            
            <li class="active">{{ apartment.prop_name }}</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-properties-content">            
            <!-- Start properties content body -->
            <div class="aa-properties-details">
             <div class="aa-properties-details-img">
              {% if apartment.image.0 %}
                {% for image in apartment.image %}
                  <img src={{ image }} alt="img">
                {% endfor %}
                {% else %}
                <img src="{% static 'img/gallery/big/noimg.png' %}" alt="img">  
              {% endif %}
                
             </div>
             <div class="aa-properties-info">
               <h2></h2>
               <span class="aa-price">₹ {{ apartment.rent }}</span>
               <p>{{ apartment.desc }}</p>
               <h4>Propery Features</h4>
               <ul>
                {% for ame in apartment.amenities %}
                    <li>{{ ame }}</li>
                 {% endfor %}
               </ul>
               <h4>Contact Number: {{ apartment.user_contact }} </h4>
             </div>
            </div>           
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock body %}