{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block body %}
  <section style="background-image:{{ apartment.image.image }}" id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Working? </h2>
            <ol class="breadcrumb">
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-properties-content">            
            <!-- Start properties content body -->
            <div class="aa-properties-details">
                <div class="aa-properties-info">
                <h1>How it works?</h1>
                <p>Looking for a roommate can be as easy as 1-2-3! If you've got a sweet flat and are looking to share the space, why not let our platform do the heavy lifting for you? Simply post your flat details, sit back, and wait for the magic to happen.</p>

                <p>No more dealing with pesky brokers - you're in the driver's seat now! And the best part? You'll get to connect directly with potential roommates, ensuring that you find the perfect person to share your pad with.</p>

                <p>So what are you waiting for? It's time to find the perfect flatmate and take your living situation to the next level! List your flat today and get ready to find your match made in roommate heaven.</p>

                </div>
            </div>           
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock body %}